body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  --size: 200px;
    height: var(--size);
  width: var(--size);
  background-color: #b700ff;
  clip-path: path("M 10,50 L 90,50 A 10,10 0,0,0 100,40 L 100,10 A 10,10 0,0,1 110,0 L 190,0 A 10,10 0,0,1 200,10 L 200,190 A 10,10 0,0,1 190,200 L 10,200 A 10,10 0,0,1 0,190 L 0,60 A 10,10 0,0,1 10,50 Z");
}

/**
 * The clip-path property is used to create a clipping region for an element. The path() function allows you to define a custom shape using SVG path syntax.
 * The "M Z" path is a shorthand for "move to the starting point and close the path", which means it creates a shape with no visible area.
 * The "L" command is used to create lines between points, and the "C" command is used to create cubic Bezier curves.
 * The "A" command is used to create an elliptical arc curve, which is defined by its radius, rotation, and the start and end angles.
 * A rx, ry a-axis-rotation, large-arc-flag, sweep-flag
 */