*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* filter: invert(1); */
  color-scheme: dark;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

img, svg {
  width: 100%;
}
