<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cards has CSS</title>

  <link rel="stylesheet" href="../assets/styles/styles.css">
  <link rel="stylesheet" href="../assets/styles/card-has.css">
</head>
<body>
  <main>
    <div class="list">
      <div class="item"><img src="https://images.pexels.com/photos/31096181/pexels-photo-31096181.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>
      <div class="item"><img src="https://images.pexels.com/photos/31346973/pexels-photo-31346973/free-photo-of-escena-de-lago-brumoso-con-ramas-colgantes.jpeg" alt=""></div>
      <div class="item"><img src="https://images.pexels.com/photos/31342411/pexels-photo-31342411.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>
      <div class="item"><img src="https://images.pexels.com/photos/31332434/pexels-photo-31332434.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>
      <div class="item"><img src="https://images.pexels.com/photos/31360839/pexels-photo-31360839/free-photo-of-tiro-de-baloncesto-monocromatico-en-movimiento.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>
      <div class="item"><img src="https://images.pexels.com/photos/31252466/pexels-photo-31252466/free-photo-of-torre-de-tokio.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>
      <div class="item"><img src="https://images.pexels.com/photos/29872491/pexels-photo-29872491/free-photo-of-encantador-callejon-estrecho-en-niza-francia.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>
      <div class="item"><img src="https://images.pexels.com/photos/30997529/pexels-photo-30997529.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>
      <div class="item"><img src="https://images.pexels.com/photos/29336964/pexels-photo-29336964.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>
      <div class="item"><img src="https://images.pexels.com/photos/31250218/pexels-photo-31250218.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>
    </div>
  </main>
</body>
</html>