<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Circular Image Animation</title>

  <link rel="stylesheet" href="../assets/styles/styles.css">
  <link rel="stylesheet" href="../assets/styles/circular-image-animation.css">
</head>
<body>
  <div class="wrapper">
    <h3>CSS Image Circular Animation</h3>

    <div class="circle">
      <img src="https://images.pexels.com/photos/31145699/pexels-photo-31145699/free-photo-of-primer-plano-de-los-cerezos-en-flor-durante-la-primavera.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
    </div>
  </div>
</body>
</html>
