<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSS Max Function</title>

  <link rel="stylesheet" href="../assets/styles/styles.css">
  <link rel="stylesheet" href="../assets/styles/max-function.css">
</head>
<body>
  <div class="wrapper">
    <div class="aside">
      <span>Sidebar</span>
    </div>
    <div class="content">
      <h3>CSS min() Function</h3>
      <p>The min() function in CSS is a nifty tool hat allows us to set the smallest value  from a list of comma-separated expressions as the value for a CSS property.</p>
    </div>
  </div>
</body>
</html>
