<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Not Hover Effect</title>

  <link rel="stylesheet" href="../assets/styles/styles.css">
  <link rel="stylesheet" href="../assets/styles/not-hover-effect.css">
</head>
<body>
  <div class="banner">
    <div class="banner-cover">
      <img src="https://w.wallhaven.cc/full/od/wallhaven-odl8q7.jpg" alt="">
    </div>
    <div class="banner-header">
      <h1>KEVROD</h1>
      <p>Frontend developer</p>
    </div>
    <div class="list">
      <div class="item"><img src="../assets/images/not-hover-effect/ironman-3.webp" alt=""></div>
      <div class="item"><img src="../assets/images/not-hover-effect/ironman-2.png" alt=""></div>
      <div class="item"><img src="../assets/images/not-hover-effect/ironman-1.png" alt=""></div>
      <div class="item"><img src="../assets/images/not-hover-effect/ironman-6.webp" alt=""></div>
      <div class="item"><img src="../assets/images/not-hover-effect/ironman-4.webp" alt=""></div>
    </div>
  </div>
</body>
</html>
