<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scroll Cards</title>

  <link rel="stylesheet" href="../assets/styles/styles.css">
  <link rel="stylesheet" href="../assets/styles/scroll-cards.css">
</head>
<body>
  <div class="wrapper">
    <div class="wrapper-card">
      <div class="card">
        <h2>Card 1</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident similique earum laborum nam esse magnam tempore, at animi quos rerum nulla eaque. Ad ipsam quas fugiat non, eligendi pariatur molestias.</p>
      </div>
      <div class="card">
        <h2>Card 1</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident similique earum laborum nam esse magnam tempore, at animi quos rerum nulla eaque. Ad ipsam quas fugiat non, eligendi pariatur molestias.</p>
      </div>
      <div class="card">
        <h2>Card 1</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident similique earum laborum nam esse magnam tempore, at animi quos rerum nulla eaque. Ad ipsam quas fugiat non, eligendi pariatur molestias.</p>
      </div>
      <div class="card">
        <h2>Card 1</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident similique earum laborum nam esse magnam tempore, at animi quos rerum nulla eaque. Ad ipsam quas fugiat non, eligendi pariatur molestias.</p>
      </div>
      <div class="card">
        <h2>Card 1</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident similique earum laborum nam esse magnam tempore, at animi quos rerum nulla eaque. Ad ipsam quas fugiat non, eligendi pariatur molestias.</p>
      </div>
    </div>
  </div>
</body>
</html>
