<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="../assets/styles/styles.css">
  <link rel="stylesheet" href="../assets/styles/slider-effect-2.css">
</head>

<body>

  <!-- header -->
  <header>
    <nav>
      <a href="#">Home</a>
      <a href="#">Contacts</a>
      <a href="#">Info</a>
    </nav>
  </header>

  <!-- carousel -->
  <div class="carousel">
    <div class="list">
      <div class="item">
        <img src="../assets/images/slider-effect-2/img1.jpg" alt="">
        <div class="content">
          <div class="author">KEROD</div>
          <div class="title">Frontend Developer</div>
          <div class="topic">Animal</div>
          <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, est aspernatur! Odio blanditiis fugit dignissimos sunt vero eaque possimus ipsam, cumque labore hic quisquam, omnis sed itaque, impedit pariatur accusamus.
          </div>
          <div class="buttons">
            <button>See More</button>
            <button>Subscribe</button>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="../assets/images/slider-effect-2/img2.jpg" alt="">
        <div class="content">
          <div class="author">KEROD</div>
          <div class="title">Frontend Developer</div>
          <div class="topic">Animal</div>
          <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, est aspernatur! Odio blanditiis fugit dignissimos sunt vero eaque possimus ipsam, cumque labore hic quisquam, omnis sed itaque, impedit pariatur accusamus.
          </div>
          <div class="buttons">
            <button>See More</button>
            <button>Subscribe</button>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="../assets/images/slider-effect-2/img3.jpg" alt="">
        <div class="content">
          <div class="author">KEROD</div>
          <div class="title">Frontend Developer</div>
          <div class="topic">Animal</div>
          <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, est aspernatur! Odio blanditiis fugit dignissimos sunt vero eaque possimus ipsam, cumque labore hic quisquam, omnis sed itaque, impedit pariatur accusamus.
          </div>
          <div class="buttons">
            <button>See More</button>
            <button>Subscribe</button>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="../assets/images/slider-effect-2/img4.jpg" alt="">
        <div class="content">
          <div class="author">KEROD</div>
          <div class="title">Frontend Developer</div>
          <div class="topic">Animal</div>
          <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, est aspernatur! Odio blanditiis fugit dignissimos sunt vero eaque possimus ipsam, cumque labore hic quisquam, omnis sed itaque, impedit pariatur accusamus.
          </div>
          <div class="buttons">
            <button>See More</button>
            <button>Subscribe</button>
          </div>
        </div>
      </div>
    </div>

    <!-- thumbnail -->
     <div class="thumbnail">
      <div class="item">
        <img src="../assets/images/slider-effect-2/img1.jpg" alt="">
        <div class="content">
          <div class="title">Name Slider</div>
          <div class="description">Description</div>
        </div>
      </div>
      <div class="item">
        <img src="../assets/images/slider-effect-2/img2.jpg" alt="">
        <div class="content">
          <div class="title">Name Slider</div>
          <div class="description">Description</div>
        </div>
      </div>
      <div class="item">
        <img src="../assets/images/slider-effect-2/img3.jpg" alt="">
        <div class="content">
          <div class="title">Name Slider</div>
          <div class="description">Description</div>
        </div>
      </div>
      <div class="item">
        <img src="../assets/images/slider-effect-2/img4.jpg" alt="">
        <div class="content">
          <div class="title">Name Slider</div>
          <div class="description">Description</div>
        </div>
      </div>
     </div>

     <div class="arrows">
      <button id="prev"><</button>
      <button id="next">></button>
     </div>

     <div class="time"></div>
  </div>

  <script src="../assets/js/slider-effect-2.js"></script>
</body>

</html>