<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slider Effect CSS Only</title>

  <link rel="stylesheet" href="../assets/styles/styles.css">
  <link rel="stylesheet" href="../assets/styles/slider-effect.css">
</head>
<body>
  <div class="banner">
    <div class="wrapper-slider">
      <div class="slider" style="--quantity: 10">
        <div class="item initial" style="--position: 1"><img src="../assets/images/slider-effect/dragon_1.jpg" alt="Dragón 1"></div>
        <div class="item initial" style="--position: 2"><img src="../assets/images/slider-effect/dragon_2.jpg" alt="Dragón 2"></div>
        <div class="item initial" style="--position: 3"><img src="../assets/images/slider-effect/dragon_3.jpg" alt="Dragón 3"></div>
        <div class="item initial" style="--position: 4"><img src="../assets/images/slider-effect/dragon_4.jpg" alt="Dragón 4"></div>
        <div class="item initial" style="--position: 5"><img src="../assets/images/slider-effect/dragon_5.jpg" alt="Dragón 5"></div>
        <div class="item initial" style="--position: 6"><img src="../assets/images/slider-effect/dragon_6.jpg" alt="Dragón 6"></div>
        <div class="item initial" style="--position: 7"><img src="../assets/images/slider-effect/dragon_7.jpg" alt="Dragón 7"></div>
        <div class="item initial" style="--position: 8"><img src="../assets/images/slider-effect/dragon_8.jpg" alt="Dragón 8"></div>
        <div class="item initial" style="--position: 9"><img src="../assets/images/slider-effect/dragon_9.jpg" alt="Dragón 9"></div>
        <div class="item initial" style="--position: 10"><img src="../assets/images/slider-effect/dragon_10.jpg" alt="Dragón 10"></div>
      </div>
    </div>
    <div class="content">
      <h1 data-content="CSS Only">CSS Only</h1>
      <div class="author">
        <h2>KERO DEV</h2>
        <p><b>Frontend Developer</b></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="model"></div>
    </div>
  </div>
</body>
</html>

<!-- idea take from: https://www.youtube.com/watch?v=yqaLSlPOUxM&ab_channel=LunDev -->
