<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../assets/styles/styles.css">
  <link rel="stylesheet" href="../assets/styles/truncate-text.css">
</head>
<body>
  <div class="truncate-text">
    <div class="content">
      <h3>Truncate Text with Ellipsis</h3>
      <div class="single-line">
        <p><strong>Single line</strong></p>
        <p class="truncate-single-line">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel fugit eius, porro, iste quaerat, corrupti accusantium provident aliquam veniam iusto officia? Nobis nulla saepe optio, qui modi veniam culpa ratione.</p>
      </div>
      <div class="multiple-line">
        <p><strong>Multiple lines</strong></p>
        <p class="truncate-multi-line">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel fugit eius, porro, iste quaerat, corrupti accusantium provident aliquam veniam iusto officia? Nobis nulla saepe optio, qui modi veniam culpa ratione.</p>
      </div>
    </div>
  </div>
</body>
</html>
